@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

html, body {
  height: 100%;          /* Ensure html and body take full height */
  margin: 0;             /* Remove default margins */
  padding: 0;            /* Remove default padding */
  overflow: hidden; /* Show scroll bars only when necessary */
}

body {
  min-height: 100vh;   /* Ensure minimum height is full viewport */
  overflow-x: hidden; /* Enable horizontal scroll when content overflows */
  overflow-y: auto; /* Enable vertical scroll when content overflows */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 4s ease infinite;
}
/* Ensure tables are scrollable when content overflows */
.table-scroll {
  max-height: 500px;     /* Set a maximum height for tables */
  overflow: auto;        /* Enable scroll bars when content exceeds the max height */
  border-radius: 0.5rem; /* Optional: Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a clean look */
}

/* Ensure table maintains a minimum width */
.table-scroll table {
  min-width: 1200px;     /* Ensure table does not shrink below this width */
}

.top-message-bar {
  min-height: 50px;
  width: 100%;
}